<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
    <!--/*@thymesVar id="flight" type="org.academy.projects.model.Flight"*/-->
    <p th:object="${flight}"/>
    <div>City From: <span th:text="${flight.cityFrom}"/></div>
    <div>City To: <span th:text="${flight.cityTo}"/></div>
    <div>Departure date and time: <span th:text="${flight.departureDate}"/></div>
    <div>Arrival date and time: <span th:text="${flight.arrivalDate}"/></div>
    <div>Price: <span th:text="${flight.price}"/></div>
    <div>Plane: <span th:text="${flight.getPlane().model}"/></div>
    <a th:href="@{/buyTicket(id=${flight.getId()})}">Buy</a>
</body>
</html>