<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Full search</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/fullSearch.css" th:href="@{/css/fullSearch.css}"/>
        <style type="text/css">
            body {
        background-color: #191724;    
        }
    </style>
</head>
<body>
    <main class="container clearfix">
        <!--/*@thymesVar id="flight" type="org.academy.projects.model.Flight"*/-->
            <p th:object="${flight}"/>
            <div>City From: <span th:text="${flight.cityFrom}"/></div>
            <div>City To: <span th:text="${flight.cityTo}"/></div>
            <div>Departure date and time: <span th:text="${flight.departureDate}"/></div>
            <div>Arrival date and time: <span th:text="${flight.arrivalDate}"/></div>
            <div>Price: <span th:text="${flight.price}"/></div>
            <div>Plane: <span th:text="${flight.getPlane().model}"/></div>
       
            <a class="btn" th:href="@{/buyTicket(id=${flight.getId()})}">Continue</a>       
   </main>
</body>
</html>