* {
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: lighter;
	color: #f1ede5;
	font-size: 24px;
}

.clearfix:after {
	content:'';
	display: table;
	clear: both;
}

.container {
	text-align: center;
	margin: 0 auto;
	width: 1150px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
	

}

body {

	background-color: #1c3d69;
	background: url(../img/bg/bg_admin_5.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;	
	height: 95vh;
}

li {
	float: left;
	list-style-type: none;
	padding: 5px;
	/*border: 1px solid white;*/
	border-radius: 15px;
	margin-bottom: 15px;
	margin-right: 35px;
	min-width: 500px;
	width: 500px;
}

a {
	text-decoration: none;
	font-size: 40px;
}

a:hover {
	color: #650b31;
	cursor: pointer;
}
