* {
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: lighter;
	color: #f1ede5;
	font-size: 24px;
}

.container {
	/*border: 1px solid red;*/
	text-align: center;
	margin: 0 auto;
	min-width: 700px;
	width: 800px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);   
    box-sizing: border-box;
}

body {
	background-color: #1c3d69;
	background: url(../img/bg/bg.vol-3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;	
	height: 95vh;
	position: relative;
}

li {
	margin-right: 40px;
	/*border: 1px solid red;*/
	list-style-type: none;
	padding: 5px;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
	font-size: 40px;
}

a:hover {
	color: #eb8827;
	cursor: pointer;
	border-bottom: 1px solid #eb8827;
	font-weight: normal;
}
