* {
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: lighter;
	font-size: 26px;
	color: #f1ede5;

}

.clearfix:after {
	content:'';
	display: table;
	clear: both;
}

.container {
	/*border: 1px solid red;*/

	min-width: 700px;
	width: 700px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
 }

body {
	background-color: #1c3d69;
	background: url(../img/bg/bg_admin_1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;	
	height: 95vh;
}

div {
	padding-bottom: 15px;
}

.result {
	padding-top: 20px;
	text-align: center;
	font-style: italic;
	font-size: 40px;
	margin-bottom: 50px;
}
