<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
    <!--/*@thymesVar id="flight" type="org.academy.projects.model.Flight"*/-->
    <p th:object="${flight}"/>
        City From: <p th:text="${flight.cityFrom}"/>
        City To: <p th:text="${flight.cityTo}"/>
        Departure date and time: <p th:text="${flight.departureDate}"/>
        Arrival date and time: <p th:text="${flight.arrivalDate}"/>
        Price: <p th:text="${flight.price}"/>
        Plane: <p th:text="${flight.getPlane().model}"/>
    <h4>If you want to update this flight fill in the following form and press update</h4>

    <form action="#" th:action="@{/updatedFlight}" th:object="${flight}">
        <p>CityFrom: <input type="text" th:field="*{cityFrom}"/></p>
        <p>CityTo: <input type="text" th:field="*{cityTo}"/></p>
        <p>Departure Date and Time: <input type="date" th:field="*{departureDate}"/></p>
        <p>Arrival Date and Time: <input type="date" th:field="*{arrivalDate}"/></p>
        <p>Price: <input type="number" th:field="*{price}"/></p>
        <p>Plane: <input type="number" th:field="*{plane}"/> </p> <h5>Choose 1(Boeing 737-500) or 2(Boeing 747-800)</h5>
        <p><input type="submit" value="Update"/></p>
    </form>
</body>
</html>